/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Miscelanos / Otros*/
:root{
    --blue-hard: #023047;
    --blue-soft: #8ecae6;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: fantasy;
}
header {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(211, 137, 137);
    background-color: var(--blue-hard);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 115px);
    background-color: var(--blue-soft);
}
.main__game-container {    
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 2px solid var(--blue-hard);
    border-radius: 10px;   
}
.main__game-container h2 {
    font-size: 2rem;
    padding-bottom: 5px;
}
.main__game-container article {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0px auto 10px;
    padding: 10px;
    border: 2px solid var(--blue-hard);
    border-radius: 10px;
}
.main__game-container img {
    width: 60px;
}
.main__game-container img:hover {
   /* transform: scale3d(100,0,0);*/
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 2.0rem;
    font-weight: bold;
    text-align: center;
    color: gray;
    background-color: var(--blue-hard);
}
footer a {
    color: gray;
    text-decoration: none;
}
footer a:hover {
    color: green;
    text-decoration: none;
}